@use '../abstracts' as abstracts;

:root {
  --font-family-sans-serif: system-ui, sans-serif;
  /* stylelint-disable-next-line value-keyword-case */
  --font-family-serif: Georgia, Cambria, 'Times New Roman', serif;
  --font-size-base: 100%;
  --color-white: #{abstracts.$color-white};
  --color-grey-900: #{abstracts.$color-grey-900};
  --color-grey-500: #{abstracts.$color-grey-500};
  --color-grey-400: #{abstracts.$color-grey-400};
  --color-grey-200: #{abstracts.$color-grey-200};
  --spacing-0: #{abstracts.$spacing-0};
  --spacing-200: #{abstracts.$spacing-200};
  --spacing-300: #{abstracts.$spacing-300};
  --spacing-400: #{abstracts.$spacing-400};
  --spacing-500: #{abstracts.$spacing-500};
  --spacing-600: #{abstracts.$spacing-600};
  --spacing-700: #{abstracts.$spacing-700};
  --spacing-800: #{abstracts.$spacing-800};
  --spacing-1300: #{abstracts.$spacing-1300};
  --spacing-2000: #{abstracts.$spacing-2000};
}
