/* Fonts */

$fonts-manrope: (
  500: 'Manrope-Medium',
  700: 'Manrope-Bold',
);

@each $weight, $file in $fonts-manrope {
  @font-face {
    font-family: Manrope;
    font-weight: $weight;
    font-style: normal;
    src: url('../../assets/fonts/Manrope/#{$file}.woff2') format('woff2');
    font-display: swap;
  }
}
